In [1]:
import os; import sys; import re

# common spark import
from pyspark import SparkFiles
from pyspark.sql import SparkSession
from pyspark.sql import functions as f
from pyspark.sql.window import Window
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, BooleanType

# connect to spark if we haven't already
if not 'spark' in locals():
  spark = SparkSession.builder \
      .master("local[*]") \
      .appName('development') \
      .config("spark.sql.debug.maxToStringFields", str(1024 * 1024)) \
      .getOrCreate()
  sc = spark.sparkContext

print("Connected to Spark!")

Connected to Spark!

# Test Data

In [70]:
data = [("Main St","","","99"),
        ("75 Joseph Ave","Apt 205","","75"),
        ("Algonquin Way","","","99"),
        ("2 Muirfield Run","","","02"),
        ("1950 N Point Blvd","","","50"),
        ("N8603 Carper Rd","","","03"),
        ("1234A MAIN ST","","","34"),
        ("HC 1 Box 1264","","","64"),
        ("525 Circle Dr","","","25"),
        ("RR Box AA","","","99"),
        ("A Main St","Apt 12","","99")]

columns = ["address_line_1","address_line_2","dpc","expected_dpc"]
df_test = spark.createDataFrame(data = data, schema = columns)

In [71]:
df_test.show()

+-----------------+--------------+---+------------+
|   address_line_1|address_line_2|dpc|expected_dpc|
+-----------------+--------------+---+------------+
|          Main St|              |   |          99|
|    75 Joseph Ave|       Apt 205|   |          75|
|    Algonquin Way|              |   |          99|
|  2 Muirfield Run|              |   |          02|
|1950 N Point Blvd|              |   |          50|
|             RR 1|              |   |          99|
|  N8603 Carper Rd|              |   |          03|
|    1234A MAIN ST|              |   |          34|
|    HC 1 Box 1264|              |   |          64|
|    525 Circle Dr|              |   |          25|
|        RR Box AA|              |   |          99|
|        A Main St|        Apt 12|   |          99|
+-----------------+--------------+---+------------+

In [72]:
df_test = df_test.withColumn('housenumber', 
                             (f.regexp_extract(f.col('address_line_1'),'(^[0-9]([0-9A-Z.*-]+)?)', 1)))
df_test.show()

+-----------------+--------------+---+------------+-----------+
|   address_line_1|address_line_2|dpc|expected_dpc|housenumber|
+-----------------+--------------+---+------------+-----------+
|          Main St|              |   |          99|           |
|    75 Joseph Ave|       Apt 205|   |          75|         75|
|    Algonquin Way|              |   |          99|           |
|  2 Muirfield Run|              |   |          02|          2|
|1950 N Point Blvd|              |   |          50|       1950|
|             RR 1|              |   |          99|           |
|  N8603 Carper Rd|              |   |          03|           |
|    1234A MAIN ST|              |   |          34|      1234A|
|    HC 1 Box 1264|              |   |          64|           |
|    525 Circle Dr|              |   |          25|        525|
|        RR Box AA|              |   |          99|           |
|        A Main St|        Apt 12|   |          99|           |
+-----------------+--------------+---+------------+-----------+

In [73]:
# rule 1
#df_test = df_test.withColumn('dpc', (f.regexp_extract(f.col('address_line_1'),'(^[0-9]([0-9A-Z.*-]+)?)', 1)))
df_test = df_test.withColumn('dpc', f.when((f.col('address_line_2') == "") &
(f.col('housenumber')).isNotNull() & f.col('housenumber').rlike('^[0-9]*$'),
(f.regexp_extract(f.col('housenumber'),'(\d+)',1)).substr(-2,2)
).otherwise(f.col('dpc')))
df_test.show()

+-----------------+--------------+---+------------+-----------+
|   address_line_1|address_line_2|dpc|expected_dpc|housenumber|
+-----------------+--------------+---+------------+-----------+
|          Main St|              |   |          99|           |
|    75 Joseph Ave|       Apt 205|   |          75|         75|
|    Algonquin Way|              |   |          99|           |
|  2 Muirfield Run|              |  2|          02|          2|
|1950 N Point Blvd|              | 50|          50|       1950|
|             RR 1|              |   |          99|           |
|  N8603 Carper Rd|              |   |          03|           |
|    1234A MAIN ST|              |   |          34|      1234A|
|    HC 1 Box 1264|              |   |          64|           |
|    525 Circle Dr|              | 25|          25|        525|
|        RR Box AA|              |   |          99|           |
|        A Main St|        Apt 12|   |          99|           |
+-----------------+--------------+---+------------+-----------+

In [74]:
# rule 2
df_test = df_test.withColumn('dpc', 
                   f.when((f.col('dpc') == "") & (f.col('housenumber') == ""), 
                          f.lit('99'))
                   .otherwise(f.col('dpc'))
                  )
df_test.show()

+-----------------+--------------+---+------------+-----------+
|   address_line_1|address_line_2|dpc|expected_dpc|housenumber|
+-----------------+--------------+---+------------+-----------+
|          Main St|              | 99|          99|           |
|    75 Joseph Ave|       Apt 205|   |          75|         75|
|    Algonquin Way|              | 99|          99|           |
|  2 Muirfield Run|              |  2|          02|          2|
|1950 N Point Blvd|              | 50|          50|       1950|
|             RR 1|              | 99|          99|           |
|  N8603 Carper Rd|              | 99|          03|           |
|    1234A MAIN ST|              |   |          34|      1234A|
|    HC 1 Box 1264|              | 99|          64|           |
|    525 Circle Dr|              | 25|          25|        525|
|        RR Box AA|              | 99|          99|           |
|        A Main St|        Apt 12| 99|          99|           |
+-----------------+--------------+---+------------+-----------+

In [ ]:
#if address line 1 does not start with a number, use 99
#from pyspark.sql.functions import col, when

#df2 = df_test.withColumn('dpc', f.when(f.col('address_line_1') == 'Main St', f.lit('99'))
                    #.otherwise(f.col('dpc')))

#df2.show()

In [ ]:
#pattern = '^[a-z,A-Z]{2,}\s[a-z,A-Z]+'

#df3 = df_test.withColumn('dpc', 
                    f.when(f.col('address_line_1').rlike(pattern), f.lit('99'))
                    .otherwise(f.col('dpc')))

# Dataframe

In [75]:
df = spark.read.option("header", "true").csv("address-linkage-key/address_link/data/test/*medium*.gz")
df.limit(10).toPandas()

,predirection,streetname,streetsuffix,postdirection,unitdesignator,unitdesignatornumber,cityname,state,zipcode,zip_4,dwellingtype,address_line_1,address_line_2,expected_dpc,expected_check_digit
0,,Circle,Dr,,,,Fort Morgan,CO,80701,3419,S,525 Circle Dr,None,25,0
1,,Primrose,Ave,,,,Vista,CA,92083,8032,S,2312 Primrose Ave,None,12,2
2,,Gardenstone,Cir,,,,Tallmadge,OH,44278,1085,S,849 Gardenstone Cir,None,49,8
3,,Briarwood,Dr,,,,Crestwood,KY,40014,9019,S,7511 Briarwood Dr,None,11,0
4,S,15th,St,,,,Saint Clair,MI,48079,5203,S,1071 S 15th St,None,71,4
5,,Front,St,,Apt,4B,Brooklyn,NY,11201,1223,M,206 Front St,Apt 4B,42,1
6,,Millpond,Rd,,,,Elizabeth Cty,NC,27909,7551,S,1295 Millpond Rd,None,95,1
7,,Glenwood,Ln,,,,East Meadow,NY,11554,3719,S,479 Glenwood Ln,None,79,8
8,NW,9th,St,,Apt,105,Miami,FL,33125,3443,M,2150 NW 9th St,Apt 105,30,9
9,,10th,St,NE,,,Naples,FL,34120,2057,S,460 10th St NE,None,60,0

In [76]:
df = df.withColumn('dpc', f.lit(None))

In [77]:
df = df.withColumn('housenumber', (f.regexp_extract(f.col('address_line_1'),'(^[0-9]([0-9A-Z.*-]+)?)', 1)))

In [78]:
df.limit(10).toPandas()

,predirection,streetname,streetsuffix,postdirection,unitdesignator,unitdesignatornumber,cityname,state,zipcode,zip_4,dwellingtype,address_line_1,address_line_2,expected_dpc,expected_check_digit,dpc,housenumber
0,,Circle,Dr,,,,Fort Morgan,CO,80701,3419,S,525 Circle Dr,None,25,0,None,525
1,,Primrose,Ave,,,,Vista,CA,92083,8032,S,2312 Primrose Ave,None,12,2,None,2312
2,,Gardenstone,Cir,,,,Tallmadge,OH,44278,1085,S,849 Gardenstone Cir,None,49,8,None,849
3,,Briarwood,Dr,,,,Crestwood,KY,40014,9019,S,7511 Briarwood Dr,None,11,0,None,7511
4,S,15th,St,,,,Saint Clair,MI,48079,5203,S,1071 S 15th St,None,71,4,None,1071
5,,Front,St,,Apt,4B,Brooklyn,NY,11201,1223,M,206 Front St,Apt 4B,42,1,None,206
6,,Millpond,Rd,,,,Elizabeth Cty,NC,27909,7551,S,1295 Millpond Rd,None,95,1,None,1295
7,,Glenwood,Ln,,,,East Meadow,NY,11554,3719,S,479 Glenwood Ln,None,79,8,None,479
8,NW,9th,St,,Apt,105,Miami,FL,33125,3443,M,2150 NW 9th St,Apt 105,30,9,None,2150
9,,10th,St,NE,,,Naples,FL,34120,2057,S,460 10th St NE,None,60,0,None,460

In [79]:
#rule1
df = df.withColumn('dpc', f.when((f.col('address_line_2').isNull()) &
(f.col('housenumber')).isNotNull() & f.col('housenumber').rlike('^[0-9]*$'),
(f.regexp_extract(f.col('housenumber'),'(\d+)',1)).substr(-2,2)
).otherwise(f.col('dpc')))
df.limit(10).toPandas()

,predirection,streetname,streetsuffix,postdirection,unitdesignator,unitdesignatornumber,cityname,state,zipcode,zip_4,dwellingtype,address_line_1,address_line_2,expected_dpc,expected_check_digit,dpc,housenumber
0,,Circle,Dr,,,,Fort Morgan,CO,80701,3419,S,525 Circle Dr,None,25,0,25,525
1,,Primrose,Ave,,,,Vista,CA,92083,8032,S,2312 Primrose Ave,None,12,2,12,2312
2,,Gardenstone,Cir,,,,Tallmadge,OH,44278,1085,S,849 Gardenstone Cir,None,49,8,49,849
3,,Briarwood,Dr,,,,Crestwood,KY,40014,9019,S,7511 Briarwood Dr,None,11,0,11,7511
4,S,15th,St,,,,Saint Clair,MI,48079,5203,S,1071 S 15th St,None,71,4,71,1071
5,,Front,St,,Apt,4B,Brooklyn,NY,11201,1223,M,206 Front St,Apt 4B,42,1,None,206
6,,Millpond,Rd,,,,Elizabeth Cty,NC,27909,7551,S,1295 Millpond Rd,None,95,1,95,1295
7,,Glenwood,Ln,,,,East Meadow,NY,11554,3719,S,479 Glenwood Ln,None,79,8,79,479
8,NW,9th,St,,Apt,105,Miami,FL,33125,3443,M,2150 NW 9th St,Apt 105,30,9,None,2150
9,,10th,St,NE,,,Naples,FL,34120,2057,S,460 10th St NE,None,60,0,60,460

In [81]:
# rule 2
df = df.withColumn('dpc', 
                   f.when((f.col('dpc').isNull()) & (f.col('housenumber').isNull()), 
                          f.lit('99'))
                   .otherwise(f.col('dpc'))
                  )

In [82]:
df.limit(50).toPandas()

,predirection,streetname,streetsuffix,postdirection,unitdesignator,unitdesignatornumber,cityname,state,zipcode,zip_4,dwellingtype,address_line_1,address_line_2,expected_dpc,expected_check_digit,dpc,housenumber
0,,Circle,Dr,,,,Fort Morgan,CO,80701,3419,S,525 Circle Dr,None,25,0,25,525
1,,Primrose,Ave,,,,Vista,CA,92083,8032,S,2312 Primrose Ave,None,12,2,12,2312
2,,Gardenstone,Cir,,,,Tallmadge,OH,44278,1085,S,849 Gardenstone Cir,None,49,8,49,849
3,,Briarwood,Dr,,,,Crestwood,KY,40014,9019,S,7511 Briarwood Dr,None,11,0,11,7511
4,S,15th,St,,,,Saint Clair,MI,48079,5203,S,1071 S 15th St,None,71,4,71,1071
5,,Front,St,,Apt,4B,Brooklyn,NY,11201,1223,M,206 Front St,Apt 4B,42,1,None,206
6,,Millpond,Rd,,,,Elizabeth Cty,NC,27909,7551,S,1295 Millpond Rd,None,95,1,95,1295
7,,Glenwood,Ln,,,,East Meadow,NY,11554,3719,S,479 Glenwood Ln,None,79,8,79,479
8,NW,9th,St,,Apt,105,Miami,FL,33125,3443,M,2150 NW 9th St,Apt 105,30,9,None,2150
9,,10th,St,NE,,,Naples,FL,34120,2057,S,460 10th St NE,None,60,0,60,460
10,,Hil Mar,Dr,,Apt,201,District Hts,MD,20747,4105,M,6509 Hil Mar Dr,Apt 201,51,4,None,6509
11,,PO Box,,,,,Andover,KS,67002,0901,U,901 PO Box,None,01,4,01,901
12,,Ash,St,,,,Webster,MA,01570,3060,S,39 Ash St,None,39,6,39,39
13,N,11th,St,,,,Collinsville,OK,74021,2019,S,719 N 11th St,None,19,4,19,719
14,,Ely,St,,,,Allegan,MI,49010,1419,S,404 Ely St,None,04,7,04,404
15,,Stroika,Ct,,,,Crivitz,WI,54114,8204,S,N7255 Stroika Ct,None,55,1,,
16,,Music Mountain,Rd,,Lot,2,Morganton,NC,28655,9917,M,3256 Music Mountain Rd,Lot 2,02,6,None,3256
17,N,300,,E,,,Valparaiso,IN,46383,8345,S,510 N 300 E,None,10,5,10,510
18,NW,30th,Ct,,Apt,109,Ft Lauderdale,FL,33322,2045,M,10360 NW 30th Ct,Apt 109,34,9,None,10360
19,,PO Box,,,,,Olive Branch,MS,38654,2104,S,1992 PO Box,None,92,6,92,1992
20,,Cedar Hill,Rd,,,,Cuyahoga Fls,OH,44223,1239,S,2950 Cedar Hill Rd,None,50,5,50,2950
21,,249th,Ave,,,,Salem,WI,53168,9518,S,8116 249th Ave,None,16,7,16,8116
22,,Castle Tower,Rd,,,,Mechanicsvlle,VA,23116,2777,S,10184 Castle Tower Rd,None,84,2,84,10184
23,,Faircrest,St,SW,,,Canton,OH,44706,3471,S,5713 Faircrest St SW,None,13,0,13,5713
24,,Jasper,Dr,,,,Stockbridge,GA,30281,4276,S,225 Jasper Dr,None,25,0,25,225
25,,Watkins,Ct,,,,Fort Worth,TX,76116,8545,S,4209 Watkins Ct,None,09,8,09,4209
26,,Goldenwood,Dr,,,,West Fargo,ND,58078,3941,S,1217 Goldenwood Dr,None,17,7,17,1217
27,,Maes,Rd,,,,Murphysboro,IL,62966,4645,S,15 Maes Rd,None,15,6,15,15
28,W,Old 67,,,,,Paragon,IN,46166,9436,S,7909 W Old 67,None,09,6,09,7909
29,,Scale,Rd,,,,Benton,KY,42025,7803,S,3896 Scale Rd,None,96,4,96,3896
30,,West,St,,,,New Milford,CT,06776,3558,S,36 West St,None,36,4,36,36
31,,Kinard,Rd,,,,Ninety Six,SC,29666,9755,S,5810 Kinard Rd,None,10,4,10,5810
32,N,46th,Ave,,,,Hollywood,FL,33021,4115,S,1801 N 46th Ave,None,01,9,01,1801
33,,Pine,St,,,,Boscobel,WI,53805,1121,S,602 Pine St,None,02,2,02,602
34,,Holly Spring,Dr,,,,Germantown,TN,38138,6217,S,2711 Holly Spring Dr,None,11,9,11,2711
35,,Mystic Bluff,Ln,,,,Cypress,TX,77433,2261,S,17718 Mystic Bluff Ln,None,18,6,18,17718
36,,Orense,Dr,,,,Las Vegas,NV,89138,4562,S,11821 Orense Dr,None,21,1,21,11821
37,,Long Hollow,Rd,,,,Rineyville,KY,40162,9305,S,241 Long Hollow Rd,None,41,5,41,241
38,,Stony Ridge,Way,,,,San Diego,CA,92131,6139,S,10573 Stony Ridge Way,None,73,5,73,10573
39,,Melrose,Blvd,,,,Pickerington,OH,43147,8437,S,786 Melrose Blvd,None,86,5,86,786
40,S,Sturbridge,Rd,,,,Charlton,MA,01507,1909,S,17 S Sturbridge Rd,None,17,0,17,17
41,E,Fowler,Ave,,,,Thonotosassa,FL,33592,2137,S,9401 E Fowler Ave,None,01,4,01,9401
42,W,Evans Creek,Rd,,,,Rogue River,OR,97537,6677,S,10565 W Evans Creek Rd,None,65,2,65,10565
43,,Cal Bost,Rd,,,,Midland,NC,28107,8782,S,2295 Cal Bost Rd,None,95,3,95,2295
44,,Riceville,Rd,,,,Asheville,NC,28805,8708,S,2005 Riceville Rd,None,05,9,05,2005
45,,Scott Wright,Rd,,,,Texarkana,TX,75503,0434,S,6512 Scott Wright Rd,None,12,6,12,6512
46,,Okaloosa,Ave,,,,Valparaiso,FL,32580,1248,S,332 Okaloosa Ave,None,32,2,32,332
47,,Debbie Sue,Rd,,,,Straw Plains,TN,37871,3703,S,107 Debbie Sue Rd,None,07,4,07,107
48,,PO Box,,,,,Sweetser,IN,46987,0108,U,108 PO Box,None,08,9,08,108
49,,Wickham,Ave,,,,Bronx,NY,10469,2738,S,3418 Wickham Ave,None,18,1,18,3418

In [ ]:
df = df.withColumn('dpc', 
                    f.when(f.col('address_line_1').rlike(pattern), f.lit('99'))
                    .otherwise(f.col('dpc')))

In [ ]:
df.limit(25).toPandas()

In [ ]:
df.groupBy('dpc').count().show()

In [ ]:
df.filter(df.dpc == '99').limit(20).toPandas()

In [ ]:
def apply_rule_2(df):
    # Use 99 when address contains no house number
    df = df.withColumn('dpc',f.when((f.col('dpc').isNull()) & (f.col('housenumber').isNull()),f.lit('99'))
                       .otherwise(f.col('dpc')))
    return df

class TestRule2(SparkTestCase):
    def test(self):
        # Test Case: Rule 2 should use 99 when the address contains no house number.
        # run a query that gives me the input that the function expects and the expected value from that
        # parse operation
        testdf = self.spark.sql("SELECT 'MAIN ST' AS address_line_1, CAST(NULL AS string) AS housenumber, CAST(NULL AS string) AS dpc, '99' AS expected")
        #run the function
        testdf = apply_rule_2(testdf)
        #gather the results [row 0 only] and compare the returned dpc to the expected dpc
        row = testdf.collect()[0]
        self.assertEquals(row.expected, row.dpc, "rule 2 fail; expected does not match dpc")

In [ ]:
class TestRule1(SparkTestCase):
    def test(self):
        # Test Case: Rule 1 (General Rule) should provide the last two digits of a primary street number, 
        # post office box, rural route box, or highway contract route number
        # run a query that gives me the input that the function expects and the expected value from that
        # parse operation
        testdf = self.spark.sql("SELECT '1234 MAIN ST' AS address_line_1, CAST(NULL AS string) AS dpc, '34' AS expected")
        #run the function
        testdf = apply_rule_1(testdf)
        #gather the results [row 0 only] and compare the returned dpc to the expected dpc
        row = testdf.collect()[0]
        self.assertEquals(row.expected, row.dpc, "rule 1 created match")